body{
    font-size: 125% ;
    color: #484141;
    background-color: #f2f2f2;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/* center all content in the page */
header, main, footer {
    width: 40em;
    max-width: 98%; 
    margin: 2em auto;
}
/* navbartoggle */
#menu-toggle {
    width: 2em;
    height: 2em;
    background-color:#999999;
    border-radius: 2em;
    transition: all 2s;
}
/* style the navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
}
nav ul.open {
    opacity: 1;
    height: auto;
}
nav a :link {
    text-decoration: none;
    display: block;
}
    background-color: #d9556d;
}
nav ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
}
nav ul.open {
    opacity: 1;
    height: auto;
}
nav#menu a {
    text-align: center;
    display: block;
    font-weight: 700;
    padding: 0.5em 1em;
    background-color: #d9556d;
    color: #e9ecf2;
    border: 1px solid #0a1926;
}
nav#menu a:hover {
    background-color: #a67356;
}
a:link {
    color: #970ff2;
}
a:visited {
    color: #59098e;
}
a:hover {
    color: #2c7f06;
}


/* tablet view and up */
@media only screen and (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }
    #menu-toggle {
        opacity: 0;
        height: 0;
        width: 0;
    }
}