body{
    font-size: 125% ;
}
nav ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex;
}
nav a {
    text-align: none;
    display: block;
    padding: 0.5em 1em;
    background-color: #d9556d;
    color: #e9ecf2;
    border: 1px solid #0a1926;
}
nav a:hover {
    background-color: #a69b8d);
}